html {
    margin-bottom: 65px;
}

$blue:    #219EBC ;
$indigo:  #023047 ;
$orange:  #FB8500 ;
$yellow:  #FFB703 ;
$cyan:    #8ECAE6 ;

$body-bg: #023047;
$body-color: #219EBC;

$primary:       #219EBC;
$info:          #8ECAE6;
$warning:       #FFB703;
$light:         #8ECAE6;
$dark:          #023047;
$danger:        #FB8500;

@import "~bootstrap/scss/bootstrap";

//  #030fff